<html>

<head>
	<title>Undanagan orang tua</title>
</head>

<body>
	<table align="center" border="0" cellpadding="1" style="width: 700px;">
		<tbody>
			<tr>
				<td>
					<div align="center">
						<span style="font-size: x-small;">Sekertaris,</span></div>
					<div align="center">
					</div>
					<div align="center">
						<span style="font-size: x-small;">Ai komala sari </span></div>
				</td>
				<td></td>
				<td valign="top">
					<div align="center">
						<span style="font-size: x-small;">Kepala Sekolah, </span></div>
					<div align="center">
					</div>
					<div align="center">
						<span style="font-size: x-small;">E.Sulyati Dra,M.pd.</span></div>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
<table align='center' border='0' cellpadding='1' style='width: 700px;'>
	<tbody>
		<tr>
			<td>
				<div align='center'><span style='font-size: x-small;'>Sekertaris,</span></div>
				<div align='center'><br><br><br></div>
				<div align='center'><span style='font-size: x-small;'>Ai komala sari </span></div>
			</td>
			<td></td>
			<td valign='top'>
				<div align='center'><span style='font-size: x-small;'>Kepala Sekolah, </span></div>
				<div align='center'><br><br><br></div>
				<div align='center'><span style='font-size: x-small;'>E.Sulyati Dra,M.pd.</span></div>
			</td>
		</tr>
	</tbody>
</table>
